
<div class="surface-card p-5">
      <!-- <h2 class="text-2xl font-bold mb-4 text-900">Nova Nota Fiscal</h2> -->

      <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">
        
        <div class="flex flex-column gap-2">
          <label for="description" class="font-semibold text-900">Descrição</label>
          <input pInputText id="description" formControlName="description" placeholder="Ex: Fatura de Energia" class="w-full" />
        </div>

        <div class="formgrid grid">
          <div class="field col-12 md:col-6 flex flex-column gap-2">
            <label for="amount" class="font-semibold text-900">Valor (R$)</label>
            <p-inputNumber inputId="amount" formControlName="amount" mode="currency" currency="BRL" locale="pt-BR" styleClass="w-full"></p-inputNumber>
          </div>

          <div class="field col-12 md:col-6 flex flex-column gap-2">
            <label for="date" class="font-semibold text-900">Data de Vencimento</label>
            <p-datepicker inputId="date" formControlName="date" dateFormat="dd/mm/yy" appendTo="body" styleClass="w-full"></p-datepicker>
          </div>
        </div>

        <div class="flex flex-column gap-2">
          <label for="file" class="font-semibold text-900">Documento (PDF/Imagem)</label>
          <input #fileInput type="file" id="file" (change)="onFileSelected($event)" accept=".pdf,image/*" 
                 class="p-2 border-1 surface-border border-round outline-none focus:border-primary w-full" />
        </div>

        <div class="flex justify-content-end mt-3">
          <p-button label="Salvar" icon="pi pi-check" type="submit" [disabled]="invoiceForm.invalid || !selectedFile"></p-button>
        </div>

      </form>
    </div>