/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

:root {
  --font-family: 'Inter', sans-serif; /* ajuda no PrimeNG */
}

html, body {
  font-family: 'Inter', sans-serif;
}

.dialog-mask-blur {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.25);
}