.table {
    margin-top: 2rem;
    padding: 1rem;    
}

.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16rem; /* 64 */
    color: #6B7280; /* text-gray-400 */
    font-size: 1.5rem;
    margin-top: 5rem;

}

.help-gif {
    margin-top: 2rem;
    width: 320px;
    height: auto;
}

.actions {
    display: flex;
    gap: 0.5rem;
}